/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Inter", sans-serif;
}

/* --- Header styles --- */

.header-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid black;
}

.header-page a {
    text-decoration: none;
}

.header-heading {
    margin: 16px;

    font-weight: bold;
    font-size: 24px;
}

.header-heading a {
    color: black;
}

.header-heading a:hover {
    text-decoration: underline;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 64px;

    margin: 16px;

    font-weight: 500;
    font-size: 18px;
    color: black;
}

.header-menu a {
    display: block;
    padding: 6px;

    color: black;
}

.header-menu a:hover {
    background: lightgray;
}

/* --- Header styles --- */

/* --- Main styles --- */

/* --- Main styles --- */

.main-page {
    margin: 0 auto;
}

/* --- Main styles --- */


/* --- Footer styles --- */

.footer-page {
    display: flex;
    padding: 8px;

    border-top: 1px solid black;
}

.footer-copy {
    margin: 0 auto;

    font-size: 14px;
}

/* --- Footer styles --- */

@media screen and (max-width: 564px) {
    /* Styles for small mobile screens */
    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    /* Styles for medium mobile screens */
    .header-menu {
        font-size: 18px;
        gap: 16px;
    }
}

@media screen and (max-width: 1600px) {
    /* Styles for tablets */
}
