@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter";
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

.table-content {
    width: 100%;
    overflow-x: auto;
}


