table th,
table td {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

table thead tr {
    background: aquamarine;
}

table td {
    padding: 8px;
    border: 1px solid black;
}
