<header class="header">
    <h1 class="header-title"><a href="{% url 'panel:panel' %}">TMS Panel</a></h1>
    {% if user %}
        <menu class="header-menu">
            {% if user.role == 'admin' %}
                <li class="header-menu-item"><a href="{% url 'admin:index' %}">Admin panel</a></li>
            {% elif user.role == 'operator' %}
                <li class="header-menu-item"><a href="{% url 'panel:catalog' %}">Catalog</a></li>
                <li class="header-menu-item"><a href="">Sales</a></li>
                <li class="header-menu-item"><a href="">Deliveries</a></li>
            {% elif user.role == 'provider' %}
                <li class="header-menu-item"><a href="">My deliveries</a></li>
            {% elif user.role == 'client' %}
                <li class="header-menu-item"><a href="">Products catalog</a></li>
                <li class="header-menu-item"><a href="">My orders</a></li>
            {% endif %}

            {% if user.role != 'admin' %}
                <li class="header-menu-item"><a href="{% url 'users:profile' %}">Profile</a></li>
            {% endif %}
        </menu>
    {% endif %}
</header>
