{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMS Home</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        <header>
            <h1>Trade Management System</h1>
        </header>

        <main>
            <p>TMS is app for manage you trades</p>
            <a href="{% url 'panel:panel' %}">Go to panel</a>
        </main>

        {% include 'default/footer.html' %}
</body>
</html>