@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    height: 100%;
}

body{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    font-family: "Inter";
    font-size: 18px;
}


hr { display: none; }

/*HEADER*/

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;

    border-bottom: 2px solid lightgray;
}

.header-title a {
    display: block;
    width: fit-content;
    padding: 8px 12px;

    color: white;
    background: dodgerblue;
    background: linear-gradient(90deg, dodgerblue 0%, deepskyblue 100%);
    text-decoration: none;
    text-align: center;
}

/*MAIN*/

.main {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 64px;
    border: 1px solid #ddd;
}

.content p {
    text-align: center;
}

.default-button {
    display: block;
    min-width: 120px;
    width: fit-content;
    margin: 4px 0;
    padding: 8px;

    font-weight: 600;
    text-decoration: none;
    text-align: center;

    color: black;
    background: white;

    border: 3px solid dodgerblue;
}

.default-button:hover {
    color: white;
    background-color: dodgerblue;
}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    font-size: small;
    border-top: 2px solid lightgray;
}

