{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title%}TMS Panel{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block head %}
        {% endblock %}
    <body>
        {% if user.is_authenticated %}
            {% include 'panel/default/header.html' %}
        {% else %}
            {% include 'default/header.html' %}
        {% endif %}
        <hr>

        <main class="main">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>

        <hr>
        {% include 'default/footer.html' %}
    </body>
</html>
