<header class="header">
    <h1>TMS Panel</h1>
    <menu class="header-menu">
        <li><a href="{% url 'panel:panel' %}">Panel</a></li>
        <li><a href="{% url 'panel:products' %}">Products</a></li>
        <li><a href="{% url 'panel:product-categories' %}">Product Categories</a></li>
        <li><a href="{% url 'panel:providers' %}">Providers</a></li>
        <li><a href="{% url 'panel:clients' %}">Clients</a></li>
        <li><a href="{% url 'panel:sales' %}">Sales</a></li>
        <li><a href="{% url 'panel:deliveries' %}">Deliveries</a></li>
    </menu>
</header>
