{% extends 'default/base.html' %}

{% block content %}

        <div class="form-container">
            <h2 class="form-header">Register as {{ role }}</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="form-button" type="submit">Register</button>
        </form>

            <div class="form-links">
                <div>
                    <span>Already registered?</span>
                    <a class="default-link" href="{% url 'users:login' %}">Log in</a>
                </div>
            </div>
    </div>

    <div>
    </div>
{% endblock %}