{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title%}TMS Panel{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'panel/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'panel/css/style.css' %}">
    <body>
        <div class="body">
            <header class="header">
                <h1 class="__no_css">Site navigation</h1>
                <menu class="header-menu">
                    <li><a href="{% url 'panel:panel' %}">Panel</a></li>
                    <li><a href="{% url 'panel:products' %}">Products</a></li>
                    <li><a href="{% url 'panel:providers' %}">Providers</a></li>
                    <li><a href="{% url 'panel:clients' %}">Clients</a></li>
                    <li><a href="{% url 'panel:sales' %}">Sales</a></li>
                    <li><a href="{% url 'panel:deliveries' %}">Deliveries</a></li>
                </menu>
            </header>

            <main class="main">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </main>

            <footer class="footer">
                <p class="footer-copy">Copyright &copy; 2025 TMS Panel</p>
            </footer>
        </div>
    </body>
</html>
