{% extends 'panel/default/base.html' %}

{% block title %}TMS Panel | Catalog{% endblock %}

{% block content %}
    {% if products %}
        {% for product in products %}
            <div>
                <h3><a href="{{ product.get_absolute_url }}">{{ product.product.name }}</a></h3>
                <ul>
                    <li>Price: ${{ product.price }}</li>
                    {% if user.role == "operator" %}
                        <li>Count: ${{ product.count }}</li>
                    {% endif  %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>Catalog is empty for now.</p>
    {% endif %}

    {% if user.role == "operator" %}
        <a href="{% url "panel:add-catalog-product" %}">Add product</a>
    {% endif %}

    {% include 'default/pagination.html' %}
{% endblock %}
