{% extends 'panel/default/base.html' %}

{% block title %} TMS Panel | Client Orders{% endblock %}

{% block content %}
    <div>
        {% if orders %}
            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Count</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.count }}</td>
                            <td>{{ order.total_price }}</td>
                            <td>{{ order.status }}</td>
                            <td><a href="{% url 'panel:client-order' order.pk %}">View order</a></td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'default/pagination.html' %}
        {% else %}
            <p>No any order here.</p>
        {% endif %}
    </div>
{% endblock %}