{% extends 'base.html' %}

{% block title %}Product: {{ product.name }}{% endblock %}

{% block content %}
<div>
    <h1>{{ product.name }}</h1>
    <ul>
        <li>Category: <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a> </li>
        <li>Description: {{ product.description }}</li>
        <li>Price: ${{ product.price }}</li>
        <li>Count: {{ product.count }}</li>
    </ul>

    <div class="table-container">
        <h1>Providers</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for provider in product.providers.all %}
            <tr>
                <td>{{ provider.id }}</td>
                <td><a href="{{ provider.get_absolute_url }}">{{ provider.name }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}