{% extends 'panel/default/base.html' %}

{% block title %}TMS Panel | Product {{ product.name }}{% endblock %}

{% block content %}
    <div class="product-info">
        <h1>{{ product.name }}</h1>
        <ul>
            <li><b>Category:</b><a href=""> {{ product.category }}</a></li>
            <li><b>Description:</b> {{ product.description | escape }}</li>
            <li><b>Price:</b> ${{ product.price }}</li>
            <li><b>Count:</b> {{ product.count }}</li>
            {% if user.role == "operator" %}
                <li><b>Provider:</b> <a href="">{{ product.provider}}</a></li>
            {% endif %}
        </ul>
        <a href="{% url 'panel:edit-product' product.pk %}">Edit product</a>
        <a href="{% url 'panel:delete-product' product.pk %}">Delete product</a>
    </div>
{% endblock %}