{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Count</td>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
            <td>{{ product.description }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}