
{% extends 'base.html' %}

{% block title %}Product Category: {{ category.name }}{% endblock %}

{% block content %}
<div class="product-category">
    <h1>Product Category: {{ category.name }}</h1>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.count }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
