{% if products %}
    <div>
        {% for product in products %}
            <div>
                <h3>{{ product.name }}</h3>
                <p>${{ product.price }}</p>
                {% if user.role == 'operator' %}
                    <p>Stock: {{ product.stock }}</p>
                {% endif %}
                {% if user.role == 'client' and product.stock > 0 %}
                    <form method="POST" action="{% url 'panel:buy-product' %}">
                        {% csrf_token %}
                        {{ product.get_order_form.as_p }}
                        <button type="submit">Buy</button>
                    </form>
                {% endif %}
                <a href="{{ product.get_absolute_url }}">View</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No any product here.</p>
{% endif %}
