{% extends 'base.html' %}

{% block title %}Providers{% endblock %}

{% block content %}
<div>
    <div class="table-container">
        <h1>Providers</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for provider in providers %}
            <tr>
                <td>{{ provider.id }}</td>
                <td><a href="{{ provider.get_absolute_url }}">{{ provider.name }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}